* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.title {
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}

input[type="button"] {
    background-color: aqua;
    color: white;
    border-radius: 5px;
    border-color: black;
    width: 100%;
    padding: 20px;
    font-size: 22px;
}

input[type="text"] {
    border-radius: 5px;
    text-align: right;
    background-color: black;
    color: white;
    border-color: white;
    width: 100%;
    padding: 15px;
}