* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.title {
    display: flex;
    text-align: center;
    margin: 20px;
    font-size: 3rem;
    justify-content: center;
}


input[type="button"] {
    color: white;
    border-radius: 5px;
    border-color: black;
    width: 100%;
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
}

input[type="text"] {
    text-align: right;
    background-color: none;
    color: black;
    border: none;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}

input[value="c"] {
    background-color: rgb(250, 3, 3);
}

.action {
    background-color: grey;
}

.numbers {
    background-color: grey;
}